<div class="detailed-view" *ngIf="params$ | async as params">
  <ng-container *ngIf="isMovie; else image">
    <video width="854" height="480" controls>
      <source [src]="params" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </ng-container>
  
  <ng-template #image>
    <img [src]="params">
  </ng-template>

</div>
