<div class="box" appFileDrop (dropped)="onDrop($event)">
  <p>Drop Files</p>
  <input type="file" (change)="onDrop($event.target.files)">
  <p>{{ msg }}</p>
</div>


<div *ngFor="let file of files">
  <app-upload-progress [file]="file"></app-upload-progress>
</div>
