<div class="upload-progress">
  <div *ngIf="percentage$ | async as percentage">
    <progress class="progress is-info" [value]="percentage" max="100"></progress>
    {{ percentage | number }}%
  </div>
  
  <div *ngIf="(snapshot$ | async) as snapshot">
    {{ snapshot.bytesTransferred / 1000000 | number }} of {{ snapshot.totalBytes / 1000000 | number }} MB
    <div *ngIf="detailURL">
      <p>Upload Complete</p>
      <a [routerLink]="'/detail/' + detailURL">details</a>
    </div> 
    <hr />
  </div>
</div>
