html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

html, body { height: 100%; width: 100%; }

body {
  background-color: #f9f9f9;
  display: grid;
  grid-template-rows: 100px auto;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: normal;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
}
  